.logo {
  width: 120px;
  height: 50px;
  margin: 16px 24px 16px 0;
  float: left;
}

[nz-menu] {
  line-height: 64px;
}

.header {
  height: 66px;
  box-shadow: 0 2px 8px #f0f1f2;
  z-index: 1000;
}

.bg-theme{
  background: #001529!important;
}
