<div class="general-container">
  <div class="pre-container">
    <app-header></app-header>
    <div class="pre-content container">
      <router-outlet></router-outlet>
    </div>
    <!--    <div class="pre-footer">-->
    <!--      <app-footer></app-footer>-->
    <!--    </div>-->
  </div>
</div>
