.pre-container {
  min-height: 100%;
  position: relative;
}

.general-container {
  height: 100%;
  width: 100%;
}

.header {
  height: 66px;
}

.pre-content {
  padding-top: 130px;
  padding-bottom: 30px;
}
